<footer class="container">
    <div class="panel">
        <div class="footer-media">
            <div>
                <i class="bi bi-facebook"></i>
                &nbsp;
                &nbsp;
                <i class="bi bi-twitter"></i>
                &nbsp;
                &nbsp;
                <i class="bi bi-youtube"></i>
                &nbsp;
                &nbsp;
                <i class="bi bi-instagram"></i>
                &nbsp;
                &nbsp;
                <br>
                <br>
                <span class="text-footer">Homepage   |   Privacy Policy & Disclaimer   |    Ford Motor Company</span>
                <br>
                <span class="text-footer">© 2022 Ford Group Philippines, Inc. | Ford SUVs,Trucks,Van, and Performance Vehicles</span>
            </div>
            <div>             
                <div>
                    
                    <span class="text-footer title" style="font-size: 20px">Quick Links</span>  
                    <div class="container text-footer">
                        
                        
                        <div class="row ">
                          <div class="col-sm">
                           <a class="link-explorer" href=""> All vehicles </a> 
                          </div>
                          <div class="col-sm">
                            <a class="link-explorer" href="">Ford Protect</a>
                          </div>
                          <div class="col-sm">
                            <a class="link-explorer" href="">About Ford</a>
                          </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm">
                                <a class="link-explorer" href="">  Fleet Homepage</a>
                            </div>
                            <div class="col-sm">
                                <a class="link-explorer" href="">  Newsroom</a>
                            </div>
                            <div class="col-sm">
                                <a class="link-explorer" href="">  Contact Us</a>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm">
                                <a class="link-explorer" href="">  Book a Service</a>
                            </div>
                            <div class="col-sm">
                                <a class="link-explorer" href="">  Careers</a>
                            </div>
                            <div class="col-sm">
                                <a class="link-explorer" href="">  Show more      </a>              
                            </div>
                          </div>
                      </div>
                </div>
            </div>
            
            

        </div>
        
        
    </div>
   
   
</footer>
