.logo{
    width: 50%;
}
.bi{
    font-size: 180%;
    color: white;
    padding: 3px 4px 3px;
}
.iconUser{
    color: #00095b !important;
}
.nav-link{
   
    font-size: 18px;
    font-weight: 500;   
    color: #00095b !important;
}
.nav-link:hover{ 
    color: #4d5bdf !important;
}
.container{
    min-width: 22rem;
    padding: 32px 45px 10px;
    left: unset;
    right: 35px;
    top: 65px;
   
}
.circle{
    width: 70px;
    border-radius: 50%;
    background-color: #00095b;
    align-self: center;
    justify-content: center;
    height: 70px;
    left: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.row{
    height: 150px;
    align-items: center;
}
.text{
   text-align: center;
}
.menu-icon{
    width: 28%;
}

