<nav class="navbar navbar-expand-lg  ">
    <a  href="#"><img class="logo" src="assets/Logo.png" alt="Image"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Vehicles <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">Shop <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
        <a class="nav-link" href="#">Fleet <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
        <a class="nav-link" href="#">Engineering <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
        <a class="nav-link" href="#">About Ford <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
        <a class="nav-link" href="#">Owner <span class="sr-only"></span></a>
        </li>     
      </ul>    
    </div>
    <ul class="nav justify-content-end" >
        <li class="nav-item  dropdown">
          
            <a class="nav-link dropdown-toggle"  data-toggle="dropdown"  type="button" >                                   
                <i class="bi bi-person iconUser"></i>
            </a>
  
          <div class="dropdown-menu container">
            <div class="row">
                <div class="menu-icon">
                    <div class="col-sm circle"><i class="bi bi-car-front-fill"></i>                                              
                    </div>
                    <div class="text">Manage Reservation</div>
                </div>
                &nbsp;
                &nbsp;
                &nbsp;
                <div class="menu-icon">
                    <div class="col-sm circle"> <i class="bi bi-gear"></i>
                          </div>
                        <div class="text">Build and Price  </div>
                </div>
                &nbsp;
                &nbsp;
                &nbsp;
                <div class="menu-icon">
                    <div class="col-sm circle"><i class="bi bi-device-hdd"></i>
                    </div>
                        <div class="text">Book A Test Drive  </div>

                </div>
            </div>
            <div class="row">
              <div class="menu-icon">
                  <div class="col-sm circle"><i class="bi bi-car-front-fill"></i>                                              
                  </div>
                  <div class="text">Request A Quote</div>
              </div>
              &nbsp;
              &nbsp;
              &nbsp;
              <div class="menu-icon">
                  <div class="col-sm circle"> <i class="bi bi-download"></i>
                        </div>
                      <div class="text">Download Brochures  </div>
              </div>
              &nbsp;
              &nbsp;
              &nbsp;
              <div class="menu-icon">
                  <div class="col-sm circle"><i class="bi bi-star-fill"></i>
                  </div>
                      <div class="text">Latest Offers  </div>

              </div>
            </div>
            <div class="row">
              <div class="menu-icon">
                  <div class="col-sm circle"><i class="bi bi-cash"></i>                                              
                  </div>
                  <div class="text">Vehicule Price LiST</div>
              </div>
              &nbsp;
              &nbsp;
              &nbsp;
              <div class="menu-icon">
                  <div class="col-sm circle"> <i class="bi bi-gear"></i>
                        </div>
                      <div class="text">Accesossories</div>
              </div>
              &nbsp;
              &nbsp;
              &nbsp;
              <div class="menu-icon">
                  <div class="col-sm circle"><i class="bi bi-question-circle"></i>
                  </div>
                      <div class="text">Ask Ford  </div>

              </div>
            </div>
            <div class="row">
              <div class="menu-icon">
                  <div class="col-sm circle"><i class="bi bi-geo-alt"></i>                                              
                  </div>
                  <div class="text">Locate a Dealer</div>
              </div>
            </div>
          </div>
        </li>
      </ul>
  </nav>