<div>
 <app-menu></app-menu>
</div>
<div class="button-message">
  <button type="button" class="btn btn-secondary">Leave a Message <i class="bi bi-envelope"></i> </button>
</div>

<div class="card button-options ">
  <div class="card-body btn-group" role="group" aria-label="Basic example">
    <button type="button" class="col-sm circle"><i class="bi bi-car-front-fill"></i></button>
    &nbsp;
    &nbsp;
    &nbsp;
    <button type="button" class="col-sm circle"><i class="bi bi-cash"></i></button>
    &nbsp;
    &nbsp;
    &nbsp;
    <button type="button" class=" col-sm circle"><i class="bi bi-geo-alt"></i></button>
    &nbsp;
    &nbsp;
    &nbsp;
    <button type="button" class=" col-sm circle"><i class="bi bi-download"></i></button>
  </div>
</div>
<div>
  <router-outlet></router-outlet>
</div>

