<div class="container">
    <div class="panel">
        <h1>A Ford vehicle for every lifestyle</h1>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner row">
            <div class="carousel-item active col-sm-6 ">
              <div class="card prueba ">
                <div class="card-body ">
                   <img class="d-block w-100 " src="assets/Ford1.jpg" alt="First slide">
                  
                </div>
                <div class="card-body">
                  <img class="d-block w-100" src="assets/Ford2.jpg" alt="First slide">
                 
                </div>
              </div>
            </div>
           
            <div class="carousel-item col-sm-6">
              <div class="card prueba ">
                <div class="card-body ">
                   <img class="d-block w-100 " src="assets/Ford3.jpg" alt="First slide">
                  
                </div>
                <div class="card-body">
                  <img class="d-block w-100" src="assets/Ford4.jpg" alt="First slide">
                 
                </div>
              </div>
            </div>
            <div class="carousel-item col-sm-6">
              <div class="card prueba ">
                <div class="card-body ">
                   <img class="d-block w-100 " src="assets/Ford5.jpg" alt="First slide">
                  
                </div>
                <div class="card-body">
                  <img class="d-block w-100" src="assets/Ford6.jpg" alt="First slide">
                 
                </div>
              </div>
            </div>
          </div>
          
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
          
     
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>What's happening at Ford</h1>
        <div class="card-info">
            <div class="card " style="width: 18rem;">
                <img class="card-img-top cards-img"   src="assets/Ford8.jpg" alt="Card image cap"> 
                <div class="carousel-caption d-none d-md-block textImage">
                    <h3>FordPass</h3>
                    <h6> Access your vehicle information at the palm of your hand.</h6>
                    <a href="#" class="link-explorer"> Explorer<i class="bi bi-arrow-right-circle-fill"></i></a>
                    
                </div>                                                     
            </div>
            &nbsp;
            &nbsp;
           
            <div class="card " style="width: 18rem;">
                <img class="card-img-top cards-img"  src="assets/Ford9.jpg" alt="Card image cap"> 
                <div class="carousel-caption d-none d-md-block textImage">
                    <h3>Latest Offers</h3>
                    <h6> Exclusively for Ford owners, Ford Family Guarantee brings a suite of upgraded services and connectivity to your journeys.</h6>
                    <a href="#" class="link-explorer"> Explorer <i class="bi bi-arrow-right-circle-fill"></i></a>
                    
                </div>                                                     
            </div>
            &nbsp;
            &nbsp;
           
            <div class="card " style="width: 18rem;">
                <img class="card-img-top cards-img"  src="assets/Ford10.jpg" alt="Card image cap"> 
                <div class="carousel-caption d-none d-md-block textImage">
                    <h3>Ford Protect</h3>
                    <h6>Have peace pf mind while ypu're on the road</h6>
                    <a href="#" class="link-explorer"> Explorer <i class="bi bi-arrow-right-circle-fill"></i></a>
                    
                </div>                                                     
            </div>
        </div>
        <br>
        <div class="card-info">
            <div class="card " style="width: 18rem;">
                <img class="card-img-top cards-img"  src="assets/Ford8.jpg" alt="Card image cap"> 
                <div class="carousel-caption d-none d-md-block textImage">
                    <h3>Accesories</h3>
                    <h6>Dress up ypur Next-Gen vehicles with Genuine Ford Accessories and Ford Licensed Accesories</h6>
                    <a href="#" class="link-explorer"> Explorer <i class="bi bi-arrow-right-circle-fill"></i></a>
                    
                </div>                                                     
            </div>
            &nbsp;
            &nbsp;
           
            <div class="card " style="width: 18rem;">
                <img class="card-img-top cards-img"  src="assets/Ford9.jpg" alt="Card image cap"> 
                <div class="carousel-caption d-none d-md-block textImage">
                    <h3>Reserve Next-Gen Territory</h3>
                    <h6>Select your Next-Gen Territory and conveniently reservr a vehicule at your chosen Ford dealer</h6>
                    <a href="#" class="link-explorer"> Explorer <i class="bi bi-arrow-right-circle-fill"></i></a>
                    
                </div>                                                     
            </div>
            &nbsp;
            &nbsp;
           
            <div class="card " style="width: 18rem;">
                <img class="card-img-top cards-img"  src="assets/Ford10.jpg" alt="Card image cap"> 
                <div class="carousel-caption d-none d-md-block textImage">
                    <h3>Reserve Next-Gen Everest</h3>
                    <h6>Select your Next-Gen Everest and conveniently reservr a vehicule at your chosen Ford dealer</h6>
                    <a href="#" class="link-explorer"> Explorer <i class="bi bi-arrow-right-circle-fill"></i></a>
                    
                </div>                                                     
            </div>
        </div>
        <br>
        <div class="card-info">
            <div class="card " style="width: 18rem;">
                <img class="card-img-top cards-img"  src="assets/Ford11.jpg" alt="Card image cap"> 
                <div class="carousel-caption d-none d-md-block textImage">
                    <h3>Reserve Next-Gen Ranger</h3>
                    <h6>Select your Next-Gen Ranger and conveniently reservr a vehicule at your chosen Ford dealer</h6>
                    <a href="#" class="link-explorer"> Explorer <i class="bi bi-arrow-right-circle-fill"></i></a>
                    
                </div>                                                     
            </div>
            &nbsp;
            &nbsp;
           
            <div class="card " style="width: 18rem;">
                <img class="card-img-top cards-img"  src="assets/Ford8.jpg" alt="Card image cap"> 
                <div class="carousel-caption d-none d-md-block textImage">
                    <h3>Reserve Next-Gen Ranger Raptor</h3>
                    <h6>Select your Next-Gen Ranger Raptor and conveniently reservr a vehicule at your chosen Ford dealer</h6>
                    <a href="#" class="link-explorer"> Explorer <i class="bi bi-arrow-right-circle-fill"></i></a>
                    
                </div>                                                     
            </div>
            &nbsp;
            &nbsp;
           
            <div class="card " style="width: 18rem;">
                <img class="card-img-top cards-img"  src="assets/Ford9.jpg" alt="Card image cap"> 
                <div class="carousel-caption d-none d-md-block textImage">
                    <h3>Reserve Mustang</h3>
                    <h6>Select your Ford Mustang and conveniently reservr a vehicule at your chosen Ford dealer</h6>
                    <a href="#" class="link-explorer"> Explorer <i class="bi bi-arrow-right-circle-fill"></i></a>
                    
                </div>                                                     
            </div>
        </div>
        <br>
        <div class="card-info">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top cards-img"  src="assets/Ford10.jpg" alt="Card image cap"> 
                <div class="carousel-caption d-none d-md-block textImage">
                    <h3>Reserve Explorer</h3>
                    <h6>Select your Ford Explorer and conveniently reservr a vehicule at your chosen Ford dealer</h6>
                    <a href="#" class="link-explorer"> Explorer <i class="bi bi-arrow-right-circle-fill"></i></a>
                    
                </div>                                                     
            </div>
            &nbsp;
            &nbsp;

        </div>
       
    </div>
    <br>
    <br>
    
</div>

<div class="card info">
    <div class="card-body">
        <h2>Explore More</h2>
        <br>
        <div>
            <button type="button" class="btn btn-outline-primary btnDown">Latest Offers</button>
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            <button type="button" class="btn btn-outline-primary btnDown">View Pricelist</button>
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            <button type="button" class="btn btn-outline-primary btnDown">Buil & Price</button>
        </div>
        
    </div>
</div>
<app-footer></app-footer>


